html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  padding: 0;
  overflow: auto;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}

textarea {
    width: 99%;
    height: 60px;
    resize: none;
    margin-bottom: 4px;
    border-radius: 2px;
    border-color: #00B0FF;
}

#app {
    width: 100%;
    max-width: 420px;
    display: block;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.container {
    padding: 0 6px;
}

.remember-button {
    margin-left: auto;
}

.delete-button {
    position: absolute!important;
    right: 0;
    top: 0;
}