<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAADm5uYAAAAAAM/PzwDo6OgA////ALq6ugDMzMwAgICAAJSUlADy8vIA29vbAL29vQCPj48ApqamAAAAAAAAAAAAGBERERERERFUURERERERERoRERERERERERiBERERERERUAURERERERFURRdxERERERqhe7d3cRERERHGa7u8ERERHWM2ZmbRERFTOZMzM1EREVmUSZmTURERFUREREmVERERVEREREUREREkRURKoRERERqhqqERERERERERERG//wAAH/8AAL//AADn/wAAw/8AAMJ/AADkBwAA/AMAAPgBAADwAQAA8AEAAPgAAAD8AAAA/AEAAP5HAAD//wAA" rel="icon" type="image/x-icon" />
    <title>Thoughts</title>
    <link rel="stylesheet" href="built/bundle.css" />

    <!-- Error Tracking -->
    <script src="https://cdn.ravenjs.com/3.10.0/raven.min.js"></script>

    <!-- ICONS -->

    <!-- iPhone 6 Plus icon -->
    <link href="/icons/apple-icon-180x180.png"
          sizes="120x120"
          rel="apple-touch-icon-precomposed" />

    <!-- STARTUP IMAGES -->

    <!-- iPhone 6 Plus portrait startup image -->
    <link href="https://placehold.it/1242x2148"
          media="(device-width: 414px) and (device-height: 736px)
                 and (-webkit-device-pixel-ratio: 3)
                 and (orientation: portrait)"
          rel="apple-touch-startup-image" />

    <!-- iPhone 6 startup image -->
    <link href="https://placehold.it/750x1294"
          media="(device-width: 375px) and (device-height: 667px)
                 and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image" />
</head>
<body>

    <div id="app"></div>

    <script src="built/bundle.js"></script>

    <script th:inline="javascript">
    /*<![CDATA[*/
        Raven.config('https://91703d8d83604327b50323979a98c791@sentry.io/138171', {
          ignoreUrls: [/localhost/]
        }).install();

        var thoughts = [[${thoughts}]];
        thoughts = thoughts.map(function(thought) {
            thought._links = {};
            thought._links.self = {};
            thought._links.self.href = `${window.location.protocol}//${window.location.host}/thoughts/${thought.id}`;
            return thought;
        });
        Thoughts.start(thoughts);

    /*]]>*/
    </script>

</body>
</html>
